@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.formGames{
    margin-top: 10%;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    margin-left: 20%;        
}
.fondoJuegos{
    background-image: url("../img/fondoForms/juegos3.jpg");
    opacity: 0.7;
}
.fondoEntrada{
    background-image: url("../img/fondoForms/calecita.jpg");
    opacity: 0.7;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
